:root {
    outline: solid 1px #a7a7a7;
    margin: 5%;
    padding: 5%;
    align-items: center;
}
* {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
li {
    display: list-item;
    margin: 5px;
}
head {
    padding-top: 10%;
}
h1 { 
    font-size: xx-large;
    align-self: center;
}
footer {
    align-items: center;
}
h2 {
    align-self: center;
    color: #006EB6;
    font-size: x-small;
    letter-spacing: 3px;
}
#mission-statement {
    border-top: 1px solid #d9d9d9;
    max-width: 600px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
#settings {
    flex-direction: row;
    text-align: center;
    justify-content: right;
    align-content: right;
    gap: 5px;
}
.dark {
    background-color: #333333;
    color: #ffffff; 
}