@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
    --primary-font: Georgia, serif;
    --headline-font: Lora, Impact, serif;
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --dark-color: #473144;
    font-family: var(--primary-font);
}

header {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    color: var(--dark-color);
    font-family: var(--headline-font);
    border-bottom: 1px solid var(--gold-color);
}

nav {
    text-align: right;
    padding: 10px 20px;
    font-size: 0.9em;
    border-bottom: 1px solid var(--gold-color);;
}

nav a {
    margin-left: 20px;
    color: var(--red-color);
    text-decoration: none;
}

.container {
    display: flex;
    padding: 20px;
}

.reviews {
    flex: 3;
}

.filters {
    flex: 1;
    border: 1px solid var(--gold-color);
    padding-left: 20px;
}

.review {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.review-meta {
    /* Must be fixed for consistency */
    width: 120px;
    font-size: 0.9em;
    border-right: 1px solid var(--gold-color);
}

.review-content {
    flex: 1;
    padding-left: 20px;
}

.review-title {
    font-size: 1.2em;
    color: var(--red-color);
    margin-bottom: 10px;
}

img {
    width: 120px;
    margin: 10px auto;
    display: block;
}

.read-more {
    color: var(--red-color);
    text-decoration: none;
}